# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Data\DATA\Mata_Kuliah\Semester_6\PPBL\individu\PPBDL2021-18104005-BAGUS_BAYU_SASONGKO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
